<h1>Ye Mighty Ferocious Pirate</h1>
<h3>Pirate Name: <%= @pirate.name %></h3>
<h4>Pirate Weight: <%= @pirate.weight %></h4>
<h4>Pirate Height: <%= @pirate.height %></h4>

<h2>Ships</h2>
<ol>
<% @pirate.ships.each_with_index do |ship, index| %>
  <li>Ship Number <%= index + 1 %>
  <ul>
    <li>Ship Name: <%= ship.name %></li>
    <li>Ship Category: <%= ship.category %></li>
    <li>Ship Booty: <%= ship.booty %></li>
  </ul>
  </li>
<% end %>
</ol>
